node_modules/
dist/
.vscode/
.idea/
*.log
*.bak
.DS_Store

# Dev Tools & Logs
TESTING_LOG.md
TO-DO.md
deploy.py
deploy.sh
askpass.sh
sanitize_dist.py
main.py
fix_git_identity.sh
RECOVERY_NOTE.md
DEV_NOTE.md
